services:
  node:
    build: .
    ports:
      - "5000:5000"
    depends_on:
      mysql:
        condition: service_healthy
    environment:
      DATABASE: webapp
      DATABASE_HOST: mysql
      DATABASE_USER: webapp
      DATABASE_PASSWORD: webapp

  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_USER: webapp
      MYSQL_PASSWORD: webapp
      MYSQL_ROOT_PASSWORD: webapp
      MYSQL_DATABASE: webapp
    volumes:
      - db_data:/var/lib/mysql
      - ./dbMigration.sql:/docker-entrypoint-initdb.d/init.sql:ro
    ports:
      - "3306:3306"
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      timeout: 5s
      retries: 10

volumes:
  db_data: