<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>StudyShip</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./styles/styles.css">
    <link rel="stylesheet" href="./styles/dashboard.css">

</head>
    <body>
        <header>
            <nav>
                <a href="/" class="logo">StudyShip 📖</a>
                <div class="mobile-menu">
                    <a href="/rooms/create">Erstellen</a>
                    <a href="/search">Suchen</a>
                    <form action="/logout" method="POST" class="logout-form">
                        <button type="submit" class="logout-link-style">Abmelden</button>
                    </form>
                </div>
            </nav>
        </header>
        <main>
            <h3>Dashboard</h3>
                {{#if user }}
                    <h4>Wilkommen, {{user}}!</h4>
                {{/if}}
            <img src="images/handy.jpg"></img>
            <h4>Deine Lerngruppen</h4>
            <ul>
                {{#each rooms}}
                    <li><a class="" href="/rooms?roomId={{this.id}}">{{this.name}}</a></li>
                {{else}}
                    <p>You are not part of any groups</p>
                {{/each}}
            </ul>
        </main>
        <footer>
            <p>Diese Seite wurde erstellt von Barnabas Steiner, Tim ...</p>
            <p>Nur zur internen Verwendung an der DHBW Ravensburg Campus Friedrichshafen.</p>
        </footer>
    </body>
</html>