<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>StudyShip</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <style> {{!--Extrackt to style.css later--}}
    header{
        background-color: red;
        color: white;
        padding: 16px;

    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 25px;
    }
    .mobile-menu a{
        color: white;
        text-decoration: none;
        margin-left: 20px;
    }
    .mobile-menu a:hover{
        color: white;
        text-decoration: underline;
        margin-left: 20px;
    }
    </style>
</head>
<header>
    <nav>
        <a href="/" class="logo">StudyShip 📖</a>
        <div class="mobile-menu">
            <a href="/login">Anmelden</a>
            <a href="/register">Registrieren</a>
        </div>
    </nav>
</header>
<body>
<p class="attribution">"<a rel="noopener noreferrer" href="https://www.flickr.com/photos/20245378@N03/8596552756">Wendt WisCEL: group work</a>" by <a rel="noopener noreferrer" href="https://www.flickr.com/photos/20245378@N03">college.library</a> is licensed under <a rel="noopener noreferrer" href="https://creativecommons.org/licenses/by/2.0/?ref=openverse">CC BY 2.0 <img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" style="height: 1em; margin-right: 0.125em; display: inline;" /><img src="https://mirrors.creativecommons.org/presskit/icons/by.svg" style="height: 1em; margin-right: 0.125em; display: inline;" /></a>.</p>
{{#if user }}
    <h4>Logged in as {{user}}</h4>
{{/if}}

</body>
</html>