<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>StudyShip</title>
    <link rel="stylesheet" href="./styles/styles.css">
    <link rel="stylesheet" href="./styles/index.css">
    <link rel="icon" href="./icons/favicon.ico" type="image/x-icon">

</head>
    <body>
        <header>
            <nav>
                <a href="/" class="logo">StudyShip 📖</a>
                <div class="mobile-menu">
                    <a href="/login">Anmelden</a>
                    <a href="/register">Registrieren</a>
                </div>
            </nav>
        </header>
        <main>
            <section class="hero">
                <p class="attribution">"<a rel="noopener noreferrer" href="https://www.flickr.com/photos/20245378@N03/8596552756">Wendt WisCEL: group work</a>" by <a rel="noopener noreferrer" href="https://www.flickr.com/photos/20245378@N03">college.library</a> is licensed under <a rel="noopener noreferrer" href="https://creativecommons.org/licenses/by/2.0/?ref=openverse">CC BY 2.0 <img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" style="height: 1em; margin-right: 0.125em; display: inline;" /><img src="https://mirrors.creativecommons.org/presskit/icons/by.svg" style="height: 1em; margin-right: 0.125em; display: inline;" /></a>.</p>
                <h1>Lerngruppen bilden mit StudyShip</h1>
            </section>
            <section class="features">
                <article class="feature-card">
                    <h3>Kostenlos</h3>
                    <p>Dieser Service ist von Studenten für Studenten gemacht worden und ist daher kostenlos.</p>
                </article>
                <article class="feature-card">
                    <h3>Ziel Orientiert</h3>
                    <p>Dank Suchfunktion und vorgefertigter Kursauswahl ist die richtige Gruppe noch nie so leicht zu finden gewesen.</p>
                </article>
                <article class="feature-card">
                    <h3>Schnell</h3>
                    <p>Mit Echtzeitchat lässt es sich schnell mit den Kommilitonen austauschen.</p>
                </article>
            </section>
            <a href="/register" class="cta-button">Jetzt Registrieren</a>
        </main>
        <footer>
            <p>Diese Seite wurde erstellt von Barnabas Steiner, Tim ...</p>
            <p>Nur zur internen Verwendung an der DHBW Ravensburg Campus Friedrichshafen.</p>
        </footer>
    </body>
</html>