<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>StudyShip</title>
    <link rel="icon" href="./icons/import_contacts_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.svg" type="image/svg+xml">
    <link rel="stylesheet" href="./styles/styles.css">
    <link rel="stylesheet" href="./styles/register.css">

</head>
    <body>
        <header>
            <nav>
                <a href="/" class="logo">StudyShip📖</a>
                <div class="mobile-menu">
                    <a href="/login">Anmelden</a>
                    <a href="/register">Registrieren</a>
                </div>
            </nav>
        </header>
        <main>
            <div class="container mt-4">
                <div class="card">
                    <div class="card-header">Regrestrierung Feld</div>
                    <!--wrong input message-->
                    {{#if message }}
                        <h3 class="error-alert">{{message}}</h3>
                    {{/if}}
                    <!--input area-->
                    <div class="card-body">
                        <form action="/register" method="POST">
                            <!--user name-->
                            <div class="mb-3">
                                <label for="name-reg" class="form-label">Name</label>
                                <input type="text" class="form-control" id="name-reg" name="name" required value="{{name}}">
                            </div>
                            <!--user email-->
                            <div class="mb-3">
                                <label for="email-reg" class="form-label">Email</label>
                                <input type="text" class="form-control" id="email-reg" name="email" required value="{{email}}">
                            </div>
                            <!--user password-->
                            <div class="mb-3">
                                <label for="password-reg" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password-reg" name="password" required>
                            </div>
                            <!--user password confirm-->
                            <div class="mb-3">
                                <label for="password-conf-reg" class="form-label">Confirm Password</label>
                                <input type="password" class="form-control" id="password-conf-reg" name="password_confirm" required>
                            </div>
                            <div class="btn btn-primary">
                                <button type="submit" >Registrieren</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <p>Diese Seite wurde erstellt von Barnabas Steiner, Tim Dorozynski, Lennart Esch und Jannis Weber</p>
            <p>Nur zur internen Verwendung an der DHBW Ravensburg Campus Friedrichshafen.</p>
            <p>Die Icons sind von fonts.google.com/icons und stehen unter der Alpha 2.0 License</p>
            <p class="attribution">"<a rel="noopener noreferrer" href="https://www.flickr.com/photos/20245378@N03/8596552756">Wendt WisCEL: group work</a>" by <a rel="noopener noreferrer" href="https://www.flickr.com/photos/20245378@N03">college.library</a> is licensed under <a rel="noopener noreferrer" href="https://creativecommons.org/licenses/by/2.0/?ref=openverse">CC BY 2.0 <img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" style="height: 1em; margin-right: 0.125em; display: inline;" /><img src="https://mirrors.creativecommons.org/presskit/icons/by.svg" style="height: 1em; margin-right: 0.125em; display: inline;" /></a>.</p>
        </footer>
    </body>
</html>