<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>StudyShip</title>
    <link rel="icon" href="./icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./styles/styles.css">
    <link rel="stylesheet" href="./styles/roomAdder.css">

</head>
    <body>
        <header>
            <nav>
                <a href="/" class="logo">StudyShip 📖</a>
                <div class="mobile-menu">
                    <a href="/createRoom">Erstellen</a>
                    <a href="/search">Suchen</a>
                    <form action="/logout" method="POST" class="logout-form">
                        <button type="submit" class="logout-link-style">Abmelden</button>
                    </form>
                </div>
            </nav>
        </header>
        <main class="container">
            <h1>Lerngruppe Erstellen</h1>
            <form action="/rooms/create" method="POST">
                <div class="form-group">
                    <label for="roomName">Gruppenname</label>
                    <input type="text" class="form-control" id="roomName" name="roomName" required>
                    <label for="roomDescription">Beschreibung</label>
                    <input type="text" class="form-control" id="roomDescription" name="roomDescription" required>
                    <label for="roomSubject">Kursart</label>
                    <select class="form-control" id="roomSubject" name="roomSubject" required>
                        {{#each subjects}}
                            <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                    <label for="roomPrivacy">Room Privacy</label>
                    <select class="form-control" id="roomPrivacy" name="roomPrivacy">
                        <option value="public">Public</option>
                        <option value="invited">Invitation only</option>
                    </select>
                    <button type="submit" class="btn btn-primary">Gruppe erstellen</button>
                </div>
            </form>
        </main>
        <footer>
            <p>Diese Seite wurde erstellt von Barnabas Steiner, Tim Dorozynski, Lennart Esch und Jannis Weber</p>
            <p>Nur zur internen Verwendung an der DHBW Ravensburg Campus Friedrichshafen.</p>
        </footer>
    </body>
</html>