<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>StudyShip</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <style> {{!--Extrackt to style.css later--}}
    header{
        background-color: red;
        color: white;
        padding: 16px;

    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 25px;
    }
    .mobile-menu a{
        color: white;
        text-decoration: none;
        margin-left: 20px;
    }
    .mobile-menu a:hover{
        color: white;
        text-decoration: underline;
        margin-left: 20px;
    }
    </style>
</head>
<body>
<header>
    <nav>
        <a href="/" class="logo">StudyShip 📖</a>
        <div class="mobile-menu">
            <a href="/rooms/create">Erstellen</a>
            <a href="/search">Suchen</a>
            <a href="/logout">Abmelden</a>
        </div>
        </div>
    </nav>
</header>
{{!-- Body of each page will go here --}}
<main><p>What ever I Whant to schreiben here</p></main>


</body>
</html>
<div class="container mt-4">
    <div>
        <h1>Search</h1>
        <ul>
            {{#each rooms}}
                <li><a class="" href="/rooms?roomId={{this.id}}">{{this.name}}</a></li>
            {{else}}
                <p>No Room found</p>
            {{/each}}
        </ul>
    </div>
</div>

</body>
</html>