
        header{
            background-color: red;
            color: white;
            padding: 16px;

        }
        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .logo{
            text-decoration: none;
            color: white;
            font-weight: bold;
            font-size: 25px;
        }
        .mobile-menu a{
            color: white;
            text-decoration: none;
            margin-left: 20px;
        }
        .mobile-menu a:hover{
            color: white;
            text-decoration: underline;
            margin-left: 20px;
        }
        .mobile-menu button{
            background: none;
            border: none;
            padding: 0;
            color: white;
            font: inherit;
            cursor: pointer;
            margin-left: 20px;
            text-decoration: none;
        }
        .mobile-menu button:hover{
            text-decoration: underline;
        }
        .mobile-menu form{
            display: inline;
            margin: 0;
            padding: 0;
        }

        h3{
            text-align: center ;
        }

        .search-btn{
            text-align: center;
        }

        .room-btn{
            text-align: center ;
        }

        .hero{
            background-image: url('../images/background.jpg') !important;
            background-color: transparent;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding: 80px 20px; /* Innenabstand für bessere Lesbarkeit */
            min-height: 400px; /* Mindesthöhe für den Hero-Bereich */
            display: flex;
            flex-direction: column;
            justify-content: center; /* Zentriert den Inhalt vertikal */
            align-items: center; /* Zentriert den Inhalt horizontal */
            color: white;
        }

        .hero h3{
            text-align: center;
            color: white;
            font-size: 3em;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }