
/* Layout für den Raum-Bereich */
    .room-layout{
        height: calc(100vh - 65px);/* Höhe: 100% der Viewport-Höhe minus 65px (für die Navigationsleiste) */
        display: flex;              /* Flexbox-Layout für die Kinder-Elemente */
        gap: 20px;                   /* Abstand von 20px zwischen den Elementen */
        padding:20px                /* Innenabstand  20px */
    }
    .room-info{
        flex: 1; /* Flex-Element nimmt den verfügbaren Platz ein (1:1-Verhältnis) */
    }
    .red-rounded-box {
        background-color: red;         /* Hintergrundfarbe  Rot */
        color: white;                    /* Schriftfarbe  Weiß */
        padding: 15px;              /* Innenabstand  15px */
        border-radius: 8px;         /* Abgerundete Ecken mit Radius 8px */
        margin: 20px 0px;           /* Außenabstand: 20px oben/unten, 0px links/rechts */
    }


    .red-rounded-box.header-box{ /* Notiz für mich:  Man muss . nach der klasse setzen um das kind element zu bearbeiten*/
        margin-top: 20px;   /* Oberer Außenabstand  20px */
        margin-right: 10px;  /* Rechter Außenabstand  10px */
        margin-bottom: 15px;        /* Unterer Außenabstand  15px */
        margin-left: 10px;          /* Linker Außenabstand  10px */
        text-align: center;   /* Text zentrieren */

    }
/* Box mit Rahmen */
    .border-box {
        border: 2px solid black;/* 2px breiter, schwarzer Rahmen */
        padding: 10px;/* Innenabstand 10px */
        background-color: white;/* Hintergrundfarbe  Weiß */
        margin-bottom: 15px;/* Unterer Außenabstand 15px */
        border-radius: 8px;/* Abgerundete Ecken mit Radius 8px */
    }

/* Chat-Bereich */
    .chat-area{
        flex: 2;/* Flex-Element nimmt doppelt so viel Platz ein wie .room-info */
        display: flex; /* Flexbox-Layout */
        flex-direction: column; /*Elemente untereinader anodnen*/
        background: lightgray; /* Hintergrundfarbe Hellgrau */
        border-radius: 8px; /* Abgerundete Ecken mit Radius 8px */
        height: 40hv;  /* Höhe: 40% der Viewport-Höhe */
    }
    .chat-window{
        postion:fixed;  /* Positionierung relativ zum Viewport fixieren */
        flex-grow: 1;   /* Flex-Element wächst, um verfügbaren Platz zu nutzen */
        overflow-y: auto; /* Vertikaler Scrollbar, wenn kein platz mehr ist*/
        padding: 15px;      /* Innenabstand von 15px */
        list-style: none;        /* Keine Aufzählungszeichen */
    }
    .message-bubble{
        background: red;    /* Hintergrundfarbe Rot */
        color: white;   /* Schriftfarbe Weiß */
        padding: 10px;      /* Innenabstand 10px */
        margin-bottom: 10px;    /* Unterer Außenabstand 10px */
        border-radius: 14px;    /* Abgerundete Ecken mit Radius 14px */
    }
/* Chat-Eingabebereich */
    .chat-input{
        display: flex; /*Flexbox-Layout */
        padding: 10px;  /* Innenabstand 10px*/
        background: white;    /* Hintergrundfarbe Weiß */
    }
    .chat-input input{
        flex-grow: 1;       /* Flex-Element  nutzt verfügbaren Platz  */
        padding: 10px;      /* Innenabstand von 10px */
        border:1px solid #ccc;  /* 1px breiter, grauer Rahmen */

    }
    .chat-input button{
        background-color: red; /* Hintergrundfarbe Rot */
        color: white;           /* Schriftfarbe Weiß */
        border: none;               /* Kein Rahmen */
        border-radius: 50%;         /* Kreis*/
        width: 35px;                /* Breite  35px */
        height: 35px;               /* Höhe  35px */
        cursor: pointer;             /* Cursor als Zeiger anzeigen */
    }

    button{
        margin-left: 3px; /* Linker Außenabstand  3px */
    }

/* Versteckte Elemente */
    .hidden {
        display: none !important; /* Element wird nicht angezeigt (important=> überschreibt andere Regeln) */
    }

    .send-button{
        padding: 0rem; /* Kein Innenabstand */
    }
    .share-btn{
        background-color: #dddddd;  /* Hintergrundfarbe auf Hellgrau */
        color: black;                 /* Schriftfarbe auf Schwarz */
    }
    .share-btn:hover{
        background-color: gray;   /*graue Hintergrundfarbe beim Hovern */
        color: black;           /* Schriftfarbe bleibt Schwarz beim Hovern */
    }