
    header{
        background-color: red;
        color: white;
        padding: 16px;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 25px;
    }
    .mobile-menu a{
        color: white;
        text-decoration: none;
        margin-left: 20px;
    }
    .mobile-menu a:hover{
        color: white;
        text-decoration: underline;
        margin-left: 20px;
    }
    .mobile-menu button{
        background: none;
        border: none;
        padding: 0;
        color: white;
        font: inherit;
        cursor: pointer;
        margin-left: 20px;
        text-decoration: none;
    }
    .mobile-menu button:hover{
        text-decoration: underline;
    }
    .mobile-menu form{
        display: inline;
        margin: 0;
        padding: 0;
    }
    .room-layout{
        height: calc(100vh - 65px);/*without nav*/
        display: flex;
        gap: 20px;
        padding:20px
    }
    .room-info{
        flex: 1;
    }
    .red-rounded-box {
        background-color: red;
        color: white;
        padding: 15px;
        border-radius: 15px;
        margin-bottom: 15px;
    }
    .border-box {
        border: 2px solid black;
        padding: 10px;
        background-color: white;
        margin-bottom: 15px;
    }
    .chat-area{
        flex: 2;
        display: flex;
        flex-direction: column;
        background: lightgray;
        border-radius: 10px;
        height: 60hv;
    }
    .chat-window{
        postion:fixed;
        flex-grow: 1;
        overflow-y: auto;
        padding: 15px;
        list-style: none;
    }
    .message-bubble{
        background: red;
        color: white;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 15px;
    }
    .chat-input{
        display: flex;
        padding: 10px;
        background: white;
    }
    .chat-input input{
        flex-grow: 1;
        padding: 10px;
        border:1px solid #ccc;

    }
    .chat-input button{
        background-color: red;
        color: white;
        border: none;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        cursor: pointer;
    }

    .hidden {
        display: none !important;
    }