header{
    background-color: red; /* Hintergrundfarbe des Headers auf Rot */
    color: white;           /* Schriftfarbe auf Weiß */
    padding: 16px;          /* Innenabstand 16px*/

}
/*Navigationsbar*/
nav{
    display: flex;          /* Flexbox-Layout für Navigation */
    justify-content: space-between;/* Flexbox-Layout für Navigation */
    align-items: center;   /* Elemente zentrieren */
}
/*Menu in der Navigationsbar*/
.mobile-menu a{
    color: white;           /* Textfarbe Weiß */
    text-decoration: none; /* Keine Unterstreichung für Links */
    margin-left: 20px;       /* Abstand links 20px*/
}
.mobile-menu a:hover{
    color: white;           /* Textfarbe bleibt Weiß beim Hovern */
    text-decoration: underline; /* Unterstreichung beim Hovern */
    margin-left: 20px;    /* Abstand links bleibt erhalten */
}
/*Button soll aussehen wie die Links in der Nav.bar*/
.mobile-menu button{
    background: none; /*Kein Hintergrund*/
    border: none;      /*keine Boarder*/
    padding: 0;         /*Kein innenabstand*/
    color: white;       /*Schriftfarbe Weiß*/
    font: inherit;         /*Schriftart gererbt (vom Eltern Element)*/
    cursor: pointer;        /*Cursor als pointer anzeigen*/
    margin-left: 20px;         /*Ausenabstand Links 20px*/
    text-decoration: none;      /*Keine Text dekorationen (wie z.B.: Unterstrichen)*/
}
.mobile-menu button:hover{
    text-decoration: underline; /*Beim Hovern Unterstreichen*/
}
.mobile-menu form{
    display: inline;    /* Als inline anzeigen => nimmt nur so viel Platz ein wie sein Inhalt, beginnt nicht in einer neuen Zeile. */
    margin: 0;  /* Kein Außenabstand */
    padding: 0; /* Kein Innenabstand */
}
