header{
    background-color: red; /* Hintergrundfarbe des Headers auf Rot */
    color: white;           /* Schriftfarbe auf Weiß */
    padding: 16px;          /* Innenabstand 16px*/

}
/*Navigationsbar*/
nav{
    display: flex;          /* Flexbox-Layout für Navigation */
    justify-content: space-between;/* Flexbox-Layout für Navigation */
    align-items: center;   /* Elemente zentrieren */
}
/*Menu in der Navigationsbar*/
.mobile-menu a{
    color: white;           /* Textfarbe Weiß */
    text-decoration: none; /* Keine Unterstreichung für Links */
    margin-left: 20px;       /* Abstand links 20px*/
}
.mobile-menu a:hover{
    color: white;           /* Textfarbe bleibt Weiß beim Hovern */
    text-decoration: underline; /* Unterstreichung beim Hovern */
    margin-left: 20px;    /* Abstand links bleibt erhalten */
}
/*Button soll aussehen wie die Links in der Nav.bar*/
.mobile-menu button{
    background: none; /*Kein Hintergrund*/
    border: none;      /*keine Boarder*/
    padding: 0;         /*Kein innenabstand*/
    color: white;       /*Schriftfarbe Weiß*/
    font: inherit;         /*Schriftart gererbt (vom Eltern Element)*/
    cursor: pointer;        /*Cursor als pointer anzeigen*/
    margin-left: 20px;         /*Ausenabstand Links 20px*/
    text-decoration: none;      /*Keine Text dekorationen (wie z.B.: Unterstrichen)*/
}
.mobile-menu button:hover{
    text-decoration: underline; /*Beim Hovern Unterstreichen*/
}
.mobile-menu form{
    display: inline;    /* Als inline anzeigen => nimmt nur so viel Platz ein wie sein Inhalt, beginnt nicht in einer neuen Zeile. */
    margin: 0;  /* Kein Außenabstand */
    padding: 0; /* Kein Innenabstand */
}


/*Link als button anzeigen*/
    .add-group-btn{
        display: block; /* Button als Block-Element anzeigen => nimmt die volle verfügbare Breite ein */
        width: fit-content; /* Breite passt sich automatisch dem Inhalt an */
        margin: 50px 0; /* Außenabstand: 50px oben/unten, 0px links/rechts */
        padding: 12px 24px; /* Innenabstand: 12px oben/unten, 24px links/rechts */
        background-color: red;   /* Hintergrundfarbe auf Rot */
        color: white;            /* Schriftfarbe auf Weiß */
        text-align: center;          /* Text innerhalb des Buttons zentrieren */
        text-decoration: none;      /* Keine Text-Dekoration (z. B. Unterstreichung) */
        border: none;               /* Kein Rahmen um den Button */
        border-radius: 8px;         /* Abgerundete Ecken mit Radius 8px */
        font-weight: 1;              /* Schriftstärke auf 1 (normal) */
        cursor: pointer;            /* Cursor als Zeiger anzeigen */
        transition: background-color 0.3s;  /* Übergang Hintergrundfarbe 0.3 Sekunden */
    }
    .add-group-btn:hover{
        background-color: darkred;          /* Hintergrundfarbe auf Dunkelrot beim Hovern */
        color: gray;                         /* Schriftfarbe auf Grau beim Hovern */
    }