
.form-container {
    display: flex;          /*form-container ist eine felexbox*/
    align-items: center;     /* Zentriert die .form-group-Elemente horizontal */
    justify-content: center; /* Zentriert die .form-group-Elemente vertikal */
    gap: 1rem;               /* Abstand zwischen den Elementen */
    width: 100%;        /*soll den ganezen platz den es nutzen kann nutzen*/

}

.form-group {
    margin-top: 5rem;           /*Aussenabstand oben*/
    background-color: white;    /*Weißer hintergrund*/
    min-width: 15rem;       /*Minimale größe 15rem*/
    width: 30rem;            /* Festgelegte Breite 30rem*/
    height: 23rem;          /*Festgelegte Höhe 23rem*/
    box-sizing: border-box;  /* Padding in die Breite einbeziehen */
    padding: 1rem;           /* Innenabstand */
    border-radius: 8px;     /*Border radius ist 8 px*/
    padding: 1rem;          /*Innenabstand 1 rem*/
}

body{
    background-image: url('../images/background.jpg'); /*Hintergrundbild für den Body*/
    background-color: transparent;                      /*Hintergrund transparent*/
    background-repeat: no-repeat;                        /* Hintergrundbild nicht wiederholen */
    background-size: cover;                              /* Hintergrundbild soll den Bereich füllen */
    background-position: center;                         /* Hintergrundbild zentrieren */
}


.container {
    display: flex;          /*container ist eine felexbox*/
    flex-direction: column; /* Elemente untereinander anordnen */
    justify-content: flex-start; /* Zentriert horizontal */
    align-items: center;     /* Zentriert vertikal */
    min-height: 70vh;       /* Gibt dem Container eine Mindesthöhe */
    margin-top: 1em;        /* Abstände anpassen */
}

.btn{
    width: 100%; /*Such-button benutzt die gange breite*/
}

h1{
    color: white; /*Überschriftfareb weiß*/
}

.form-group input,
.form-group select {
    width: 100%; /* Volle Breite der Box nutzen */
    box-sizing: border-box; /* Padding in die Breite einbeziehen */
    padding: 0.5rem; /* Innenabstand für bessere Lesbarkeit */
    margin-bottom: 0.75rem; /* Abstand nach unten */
}

.btn {
    width: 100%; /* Button nutzt die volle Breite */
    margin-top: 0.5rem; /* Abstand nach oben */
}



