
header{
    background-color: red;
    color: white;
    padding: 16px;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 25px;
}
.mobile-menu a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
.mobile-menu a:hover{
    color: white;
    text-decoration: underline;
    margin-left: 20px;
}
.mobile-menu button{
    background: none;
    border: none;
    padding: 0;
    color: white;
    font: inherit;
    cursor: pointer;
    margin-left: 20px;
    text-decoration: none;
}
.mobile-menu button:hover{
    text-decoration: underline;
}
.mobile-menu form{
    display: inline;
    margin: 0;
    padding: 0;
}


.form-container {
    display: flex;
    align-items: center;     /* Zentriert die .form-group-Elemente horizontal */
    justify-content: center;
    gap: 1rem;               /* Abstand zwischen den Elementen */
    width: 100%;

}

.form-group {
    background-color: white;
    min-width: 15rem;
    width: 25rem;            /* Festgelegte Breite */
    height: 28rem;
    box-sizing: border-box;  /* Padding in die Breite einbeziehen */
    padding: 1rem;           /* Innenabstand */
    border-radius: 8px;
}

body{
    background-image: url('../images/background.jpg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;



}