
/*Link als button anzeigen*/
    .add-group-btn{
        display: block; /* Button als Block-Element anzeigen => nimmt die volle verfügbare Breite ein */
        width: fit-content; /* Breite passt sich automatisch dem Inhalt an */
        margin: 50px 0; /* Außenabstand: 50px oben/unten, 0px links/rechts */
        padding: 12px 24px; /* Innenabstand: 12px oben/unten, 24px links/rechts */
        background-color: red;   /* Hintergrundfarbe auf Rot */
        color: white;            /* Schriftfarbe auf Weiß */
        text-align: center;          /* Text innerhalb des Buttons zentrieren */
        text-decoration: none;      /* Keine Text-Dekoration (z. B. Unterstreichung) */
        border: none;               /* Kein Rahmen um den Button */
        border-radius: 8px;         /* Abgerundete Ecken mit Radius 8px */
        font-weight: 1;              /* Schriftstärke auf 1 (normal) */
        cursor: pointer;            /* Cursor als Zeiger anzeigen */
        transition: background-color 0.3s;  /* Übergang Hintergrundfarbe 0.3 Sekunden */
    }
    .add-group-btn:hover{
        background-color: darkred;          /* Hintergrundfarbe auf Dunkelrot beim Hovern */
        color: gray;                         /* Schriftfarbe auf Grau beim Hovern */
    }